USE [master]
GO
/****** Object:  Database [notes_db]    Script Date: 12/16/2021 06:43:21 ******/
CREATE DATABASE [notes_db] ON  PRIMARY 
( NAME = N'notes_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\notes_db.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'notes_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\notes_db_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [notes_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [notes_db]
GO
/****** Object:  Table [dbo].[notes_tb]    Script Date: 12/16/2021 06:43:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[notes_tb](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [varchar](50) NOT NULL,
	[note] [varchar](max) NULL,
 CONSTRAINT [PK_notes_tb] PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
